# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store


*.pyc
.vscode
build/*
bin/*
!bin/.gitkeep
lib/*
!lib/.gitkeep

# CMake stuff
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile

# Ignore temp build files inside CryptoPP

vendor/cryptopp/CMakeFiles/*
vendor/cryptopp/CTestTestfile.cmake
vendor/cryptopp/Makefile
vendor/cryptopp/cmake_install.cmake
vendor/cryptopp/cryptopp-config-version.cmake
vendor/cryptopp/cryptopp-targets.cmake


